.drop {
  left: 200px;
  width: 1000px;
  display: flex;
  justify-content: space-evenly;
  top: 200px;
  position: fixed;
}
.heading {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
  }
  
.Date{
  padding: 7px;
}